* {
    padding: 0;
    margin: 0;
    list-style: none;
}


header {
    background-color: #385170;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 15px #9fd3c7 solid;
}

.title {
    font-family: serif;
    padding-top: 10px;
}

.startButton {
    display: block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #fbf9f9;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #385170;
    text-align: center;
    transition: all 0.2s;
}

.endDiv {

    display: flex;

}

.multipleChoices {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: block;
    padding: 5px;
    margin: 30px;
    border-style: inset;
    border-radius: 7px;
    box-shadow: 20px 20px 60px #9b9b9b,
        -20px -20px 60px #ffffff;
}

.questionBlock {
    display: none;
}

.choiceBlock {
    display: none;
}

.nameForm {
    display: none;
}

.multipleChoices:hover {
    background-color: #9fd3c7;
    color: red;

}

#nameForm {
    display: none;
    border: #385170;
    margin: auto;
}

body {
    background-color: #d0cece;
}